// place your custom styles here
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Use the font in your CSS */
body {
  font-family: 'Open Sans', sans-serif;
}